* { margin: 0; padding: 0; box-sizing: -moz-border-box; box-sizing: border-box; color: #0f699b;}
html { background: url('background.jpg'); height: 100%; }
body { overflow: hidden; height: 100%; }
.window { position: absolute; overflow: hidden; border: 3px solid #73C3FF; border-radius: 5px; }
.in-background { opacity: 0.8; }
h2 { position: relative; left: -20px; font-size: 18px; font-weight: normal; padding: 2px 0 2px 10px; margin: 10px 0 10px 0; width: 75%; background: #91E1FF; }
.tlo { position: absolute; top: 22px; bottom: 0; right: 0; left: 0; background: #AFF5FF; padding: 5px 20px; overflow: auto; }
.header { background: #91E1FF; border-bottom: 3px solid #73C3FF; height: 22px; padding: 0 40px 0 5px; overflow: hidden; }
.close { background: #91E1FF; position: absolute; border-left: 3px solid #73C3FF; text-align: center; width: 20px; height: 19px; top: 0; right: 0; }
.mini { background: #91E1FF; position: absolute; border-left: 3px solid #73C3FF; text-align: center; width: 20px; height: 19px; top: 0; right: 23px; }
.close:hover { background: #F97DB9; }
.mini:hover { background: #2D7DFF; }
.zakladka { float: left; border-radius: 3px; opacity: 1 !important; margin: 5px 5px 10px 5px; width: 160px; padding: 0 5px 0 5px; overflow: hidden; height: 20px; white-space: nowrap; }
.active-tab { border: inset 3px #73C3FF; background: #AFF5FF; }
.non-active-tab { border: outset 3px #73C3FF; background: #73C3FF; }
#taskbar { position: fixed; left: 0; bottom: 0; height: 35px; width: 100%; border-top: 3px solid #73C3FF; overflow: auto; background: #AFF5FF; z-index: 9999999999999999999999999; }

.tlo, #taskbar, .icon .podpis, #context_menu {
	opacity: 0.9;
}

.icon .podpis, #context_menu li, .header, .close, .mini, .zakladka {
	cursor: default;
}

.icon { width: 100px; position: absolute; text-decoration: none; cursor: default; }
.icon .obrazek { height: 48px; width: 48px; margin: 0 auto; }
.icon .podpis { font-size: 16px; margin: 5px auto; background: #73C3FF; padding: 0 3px 2px; text-align: center; max-height: 42px; overflow: hidden; border-radius: 5px; }

#home { top: 100px; left: 100px; }
#home_ico { background: url('../images/home.gif'); opacity: 0.6; }

#about-me { top: 200px; left: 100px; }
#about-me_ico { background: url('../images/about-me.gif'); opacity: 0.6; }

#tips { top: 300px; left: 100px; }
#tips_ico { background: url('../images/tips.gif'); opacity: 0.6; }

#download { top: 420px; left: 100px; }
#download_ico { background: url('../images/download.gif'); opacity: 0.6; }

#contact { top: 520px; left: 100px; }
#contact_ico { background: url('../images/contact.gif'); opacity: 0.6; }

#context_menu { list-style-type: none; background: #AFF5FF; border: 1px solid #73C3FF; width: 200px; display: none; position: absolute; border-radius: 5px; }
#context_menu.show { display: block; }
#context_menu li { padding: 2px 5px; }
#context_menu li:hover { background: #73C3FF; }

.fork_me { opacity: .3; transition: opacity ease-in .1s; position: absolute; text-indent: -9999px; overflow: hidden; top: 0; right: 0; width: 150px; height: 150px; background: url('//bitbucket.org/zgramana/bitbucket-ribbons/raw/988dffc5fbeb/png/bitbucket-ribbon-dark-blue.png'); }
.fork_me:hover { opacity: 1; }
